* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


#spreadsheet {
    display: flex;
    margin-left: 65px;
}

#loseOnes {
    margin-left: 11px;
}

#loseTwos {
    margin-left: 11px;
}

#loseFives {
    margin-left: 11px;
}

#loseTens {
    margin-left: 3px;
}

#loseTwenties {
    margin-left: 3px;
}

#loseFifties {
    margin-left: 3px;
}

#loseOnesChips {
    margin-left: 13px;
}

#loseFivesChips {
    margin-left: 13px;
}

#loseTwentyFives {
    margin-left: 7px;
}

#loseThousands {
    margin-left: 9px;
}

#fiveThousands {
    margin-left: 9px;
}

#cash-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#chips-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#totals {
    margin-top: 20px;
    margin-left: 220px;
}

#buttons {
    margin-top: 20px;
    margin-left: 390px;
}