* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


#spreadsheet {
    display: flex;
    margin-left: 65px;
}

#loseOnes {
    margin-left: 14px;
}

#loseTwos {
    margin-left: 14px;
}

#loseFives {
    margin-left: 14px;
}

#loseTens {
    margin-left: 6px;
}

#loseTwenties {
    margin-left: 6px;
}

#loseFifties {
    margin-left: 6px;
}

#loseOnesChips {
    margin-left: 16px;
}

#loseFivesChips {
    margin-left: 16px;
}

#loseTwentyFives {
    margin-left: 10px;
}

#loseThousands {
    margin-left: 12px;
}

#fiveThousands {
    margin-left: 12px;
}

#cash-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#chips-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#totals {
    margin-top: 20px;
    margin-left: 220px;
}

#buttons {
    margin-top: 20px;
    margin-left: 390px;
}

#targetTotal {
    display: flex;
    margin-right: 20px;
}

#tokesTotals {
    display: flex;
}

#preTaxTotal {
    margin-right: 20px;
}

#boxTotals {
    display: flex;
}



