<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>
<div class="container">
    <h1>Test dealer addition page</h1>

    <div>
        <form th:action="@{/addDealer}" th:method="post" th:object="${dealer}">
            <input type="text" th:field="*{name}"/>
            <input type="number" th:field="*{pin}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
</body>
</html>