<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>


<div class="container">
    <h1 id="admin-header">Admin</h1>
    <div class="row">
<!--        <div class="col-5">-->
<!--            <div id="tokesTotals" th:each="tokes : ${dealerTokes}">-->
<!--                pre tax total: <p id="preTaxTotal" th:text="${tokes.getTotalTokes()}"></p>-->
<!--                post tax total: <p id="postTaxTotal" th:text="${tokes.getDealerTakeHomeTotal()}"></p>-->

<!--            </div>-->
<!--        </div>-->

        <a type="button" class="btn btn-outline-secondary" id="spreadsheet-button" href="/viewSpreadsheet">Spreadsheets</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="dealer-tokes-button" >Dealer Tokes</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="add-user-button">Add a user</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="add-dealer-button" href="/addDealer">Add a Dealer</a>

    </div>
</div>




</body>
</html>