<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>


<div class="container">
    <h1 id="admin-header">Admin</h1>
    <div class="row">

        <a type="button" class="btn btn-outline-secondary" id="spreadsheet-button" href="/viewSpreadsheet">Spreadsheets</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="dealer-tokes-button" href="/viewDealerTokes">Dealer Tokes</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="add-user-button" href="/sign-up">Add a user</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="add-dealer-button" href="/addDealer">Add a Dealer</a>
        <br>
        <a type="button" class="btn btn-outline-secondary" id="change-box-total" href="/changeBoxTotal">Change box total</a>
        <br>

    </div>
</div>


</body>
</html>