<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>

<h1 id="cash-header">Homepage</h1>
<div class="container">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-success">Start Shift</button>
        <button type="button" class="btn btn-primary">Pause Shift</button>
        <button type="button" class="btn btn-success">End Shift</button>
    </div>
</div>


</body>
</html>