<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>

<h1 id="cash-header">Homepage</h1>
<div class="container">
    <div class="d-grid gap-2">
        <form th:method="post" th:action="@{/startTime}" th:object="${startTime}">
            <input type="hidden" id="loginTime" th:field="*{startTime}"/>
            <button type="submit" class="btn btn-success" id="startShiftButton">Start Shift</button>
        </form>

        <button type="button" class="btn btn-primary" id="pauseShiftButton">Pause Shift</button>
        <form th:method="post" th:object="${startTime}" th:action="@{/startTime}">
            <input type="hidden" id="logoutTime" th:field="*{endTime}"/>
            <button type="submit" class="btn btn-success" id="endShiftButton">End Shift</button>
        </form>

    </div>
</div>

<script src="/js/dateAndTime.js"></script>
</body>
</html>