<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>
<div class="container">
    <h1>Add a user</h1>
    <form th:action="@{/sign-up}" method="post" th:object="${user}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                   th:field="*{username}" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" onclick="validate()" id="flexCheckDefault"
                   th:field="*{isAdmin}">
            <label class="form-check-label" for="flexCheckDefault">
                Check if this user is an Administrator
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="/js/signUp.js"></script>
</body>
</html>