<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>


<div class="container">
    <div class="row">
        <form th:action="@{/spreadsheet}" th:method="post" th:object="${spreadsheet}" id="spreadsheet">
            <h2>Cash on hand(In Units)</h2>
            <div class="col">
                <pre>   lose cash           strapped cash      lose chips         racked chips</pre>
                <span>
                    $1 <input type="number" th:field="*{loseOnes}" id="loseOnes" vlaue="" required/>
                       <input type="number" th:field="*{strappedOnes}" id="strappedOnes" value="" required/>
                </span>
                <span>
                    <input type="number" th:field="*{loseOnesChips}" id="loseOnesChips" required/>
                    <input type="number" th:field="*{rackedOnesChips}" id="rackedOnesChips" required/>
                </span>

            </div>
            <br>
            <div class="col">
                $2 <input type="number" th:field="*{loseTwos}" id="loseTwos" required/>
                <input type="number" th:field="*{strappedTwos}" id="strappedTwos" required/>
                <input type="number" />
                <input type="number" />
            </div>
            <br>
            <div class="col">
                $5 <input type="number" th:field="*{loseFives}" id="loseFives" required/>
                <input type="number" th:field="*{strappedFives}" id="strappedFives" required/>
                <input type="number" th:field="*{loseFivesChips}" id="loseFivesChips" required/>
                <input type="number" th:field="*{rackedFivesChips}" id="rackedFivesChips" required/>
            </div>
            <br>
            <div class="col">
                $10 <input type="number" th:field="*{loseTens}" id="loseTens" required/>
                <input type="number" th:field="*{strappedTens}" id="strappedTens" required/>
                <input type="number" value=""/>
                <input type="number" value=""/>
            </div>
            <br>
            <div class="col">
                $20 <input type="number" th:field="*{loseTwenties}" id="loseTwenties" required/>
                <input type="number" th:field="*{strappedTwenties}" id="strappedTwenties" required/>
                <input type="number" value=""/>
                <input type="number" value=""/>
            </div>
            <br>
            <div class="col">
                $25 <input type="number" value=""/>
                <input type="number" value=""/>
                <input type="number" th:field="*{loseTwentyFives}" id="loseTwentyFives" required/>
                <input type="number" th:field="*{rackedTwentyFives}" id="rackedTwentyFives" required/>
            </div>
            <br>
            <div class="col">
                $50 <input type="number" th:field="*{loseFifties}" id="loseFifties" required/>
                <input type="number" th:field="*{strappedFifties}" id="strappedFifties" required/>
                <input type="number" value=""/>
                <input type="number" value=""/>
            </div>
            <br>
            <div class="col">
                $100 <input type="number" th:field="*{loseHundreds}" id="loseHundreds" required/>
                <input type="number" th:field="*{strappedHundreds}" id="strappedHundreds" required/>
                <input type="number" th:field="*{loseHundredsChips}" id="loseHundredsChips" required/>
                <input type="number" th:field="*{rackedHundredsChips}" id="rackedHundredsChips" required/>
            </div>
            <br>
            <div class="col">
                $500 <input type="number" value=""/>
                <input type="number" value=""/>
                <input type="number" th:field="*{loseFiveHundreds}" id="loseFiveHundreds" required/>
                <input type="number" th:field="*{rackedFiveHundreds}" id="rackedFiveHundreds" required/>
            </div>
            <br>
            <div class="col">
                $1K <input type="number" value=""/>
                <input type="number" value=""/>
                <input type="number" th:field="*{loseThousands}" id="loseThousands" required/>
                <input type="number" th:field="*{rackedThousands}" id="rackedThousands" required/>
            </div>
            <br>
            <div classs="col">
                $5K <input type="number" value=""/>
                <input type="number" value=""/>
                <input type="number" th:field="*{fiveThousands}" id="fiveThousands" required/>
                <input type="number" th:field="*{rackedFiveThousands}" id="rackedFiveThousands" required/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
        </form>

        <div id="bankTotal">Totals: <span>$150,000</span> <span id="computedTotal"></span></div>

    </div>
</div>
<script src="../public/js/count.js"></script>
</body>
</html>