<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>


<div class="container">
    <div class="row">
        <form th:action="@{/spreadsheet}" th:method="post" th:object="${spreadsheet}" id="spreadsheet">
            <h2>Cash on hand(In Units)</h2>
            <div class="col">
                <pre>   lose cash           strapped cash      lose chips         racked chips</pre>
                <span>
                    $1 <input type="number" th:field="*{loseOnes}"/>
                       <input type="number" th:field="*{strappedOnes}"/>
                </span>
                <span>
                    <input type="number" th:field="*{loseOnesChips}"/>
                    <input type="number" th:field="*{rackedOnesChips}"/>
                </span>

            </div>
            <br>
            <div class="col">
                $2 <input type="number" th:field="*{loseTwos}"/>
                <input type="number" th:field="*{strappedTwos}"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $5 <input type="number" th:field="*{loseFives}"/>
                <input type="number" th:field="*{strappedFives}"/>
                <input type="number" th:field="*{loseFivesChips}"/>
                <input type="number" th:field="*{rackedFivesChips}"/>
            </div>
            <br>
            <div class="col">
                $10 <input type="number" th:field="*{loseTens}"/>
                <input type="number" th:field="*{strappedTens}"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $20 <input type="number" th:field="*{loseTwenties}"/>
                <input type="number" th:field="*{strappedTwenties}"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $25 <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
                <input type="number" th:field="*{loseTwentyFives}"/>
                <input type="number" th:field="*{rackedTwentyFives}"/>
            </div>
            <br>
            <div class="col">
                $50 <input type="number" th:field="*{loseFifties}"/>
                <input type="number" th:field="*{strappedFifties}"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $100 <input type="number" th:field="*{loseHundreds}"/>
                <input type="number" th:field="*{strappedHundreds}"/>
                <input type="number" th:field="*{loseHundredsChips}"/>
                <input type="number" th:field="*{rackedHundredsChips}"/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
</body>
</html>