<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials.html :: site-head"></div>
<body>
<div th:replace="partials.html :: navbar"></div>


<div class="container">
    <div class="row">
        <form th:action="@{/spreadsheet}" th:method="post" th:object="${spreadsheet}" id="spreadsheet">
            <h2>Cash on hand(In Units)</h2>
            <div class="col">
                <pre>   lose cash           strapped cash      lose chips         racked chips</pre>
                <span>
                    $1 <input type="number" th:field="*{loseOnes}" id="loseOnes"/>
                       <input type="number" th:field="*{strappedOnes}" id="strappedOnes"/>
                </span>
                <span>
                    <input type="number" th:field="*{loseOnesChips}" id="loseOnesChips"/>
                    <input type="number" th:field="*{rackedOnesChips}" id="rackedOnesChips"/>
                </span>

            </div>
            <br>
            <div class="col">
                $2 <input type="number" th:field="*{loseTwos}" id="loseTwos"/>
                <input type="number" th:field="*{strappedTwos}" id="strappedTwos"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $5 <input type="number" th:field="*{loseFives}" id="loseFives"/>
                <input type="number" th:field="*{strappedFives}" id="strappedFives"/>
                <input type="number" th:field="*{loseFivesChips}" id="loseFivesChips"/>
                <input type="number" th:field="*{rackedFivesChips}" id="rackedFivesChips"/>
            </div>
            <br>
            <div class="col">
                $10 <input type="number" th:field="*{loseTens}" id="loseTens"/>
                <input type="number" th:field="*{strappedTens}" id="strappedTens"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $20 <input type="number" th:field="*{loseTwenties}" id="loseTwenties"/>
                <input type="number" th:field="*{strappedTwenties}" id="strappedTwenties"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $25 <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
                <input type="number" th:field="*{loseTwentyFives}" id="loseTwentyFives"/>
                <input type="number" th:field="*{rackedTwentyFives}" id="rackedTwentyFives"/>
            </div>
            <br>
            <div class="col">
                $50 <input type="number" th:field="*{loseFifties}" id="loseFifties"/>
                <input type="number" th:field="*{strappedFifties}" id="strappedFifties"/>
                <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
            </div>
            <br>
            <div class="col">
                $100 <input type="number" th:field="*{loseHundreds}" id="loseHundreds"/>
                <input type="number" th:field="*{strappedHundreds}" id="strappedHundreds"/>
                <input type="number" th:field="*{loseHundredsChips}" id="loseHundredsChips"/>
                <input type="number" th:field="*{rackedHundredsChips}" id="rackedHundredsChips"/>
            </div>
            <br>
            <div class="col">
                $500 <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
                <input type="number" th:field="*{loseFiveHundreds}"/>
                <input type="number" th:field="*{rackedFiveHundreds}"/>
            </div>
            <br>
            <div class="col">
                $1K <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
                <input type="number" th:field="*{loseThousands}"/>
                <input type="number" th:field="*{rackedThousands}"/>
            </div>
            <br>
            <div classs="col">
                $5K <input type="number" value="N/A"/>
                <input type="number" value="N/A"/>
                <input type="number" th:field="*{fiveThousands}"/>
                <input type="number" th:field="*{rackedFiveThousands}"/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
<script src="../public/js/count.js"></script>
</body>
</html>